@layer reset, fonts, tokens, base, layout, components, utilities, responsive, states;

@import url('./reset.css') layer(reset);
@import url('./fonts.css') layer(fonts);
@import url('./tokens.css') layer(tokens);

@layer base {
  body {
    --padding-top: calc(var(--space-500) * 2 + var(--space-025));
    --padding-bottom: calc(var(--space-400) + var(--space-025));

    padding-block: var(--padding-top) var(--padding-bottom);
    font-family: var(--ff-base);
    font-size: var(--fs-200);
    background-color: var(--clr-white);
    color: var(--clr-blue-950);
    line-height: 1.25;
  }
}

@layer layout {

  .container {
    --container-padding: calc(var(--space-600) + var(--space-050));

    inline-size: min(100% - var(--container-padding), 39.8125rem);
    margin-inline: auto;
  }
}

@layer components {

  /* HEADER */
  .brand {
    inline-size: clamp(3.35rem, 14.25vw, 5.359rem);
    margin-inline: auto;
  }

  /* HERO */
  .hero {
    padding-block-start: var(--space-500);
    padding-block-end: calc(var(--space-500) * 3);
  }

  .hero__inner {
    --stack-space: var(--space-400);
  }

  .hero__content {
    --stack-space: var(--space-500);
  }

  .hero__text {
    --stack-space: var(--space-100);
    text-align: center;
  }

  .hero__title {
    font-size: var(--fs-300);
    font-weight: var(--fw-light);
    color: var(--clr-gray-400);
  }

  .hero__description {
    font-size: var(--fs-100);
    font-weight: var(--fw-light);
  }

  /* FORM */
  .form {
    --stack-space: var(--space-300);
  }

  .form__field {
    --stack-space: var(--space-100);
  }

  .form__input {
    padding: calc(var(--space-100) + var(--space-050)) var(--space-300);
    font-size: var(--fs-100);
    font-weight: var(--fw-light);
    border: 0.0625rem solid var(--clr-blue-200);
    border-radius: 3em;
    box-shadow: var(--shadow-input);

    &::placeholder {
      color: var(--clr-blue-200);
    }
  }

  .form__message {
    font-size: var(--fs-075);
    font-style: italic;
    text-align: center;
    color: var(--clr-red-400);
  }

  .form__button {
    flex: 1;
    padding-block: calc(var(--space-100) + var(--space-050));
    font-size: var(--fs-100);
    font-weight: var(--fw-semibold);
    background-color: var(--clr-blue-500);
    color: var(--clr-white);
    border: 0.0625rem solid var(--clr-blue-500);
    border-radius: 3em;
    box-shadow: var(--shadow-button);
    transition: opacity var(--transition-fast), transform var(--transition-fast);
  }

  /* NAV */
  .social__list {
    --cluster-space: var(--space-200);
    justify-content: center;
  }

  .social__link {
    inline-size: 2rem;
    block-size: 2rem;
    display: grid;
    place-items: center;
    border: 0.0625rem solid var(--clr-blue-200);
    border-radius: 50%;
    color: var(--clr-blue-500);
    transition: background-color var(--transition-fast), color var(--transition-fast), border-color var(--transition-fast), transform var(--transition-fast);
  }

  .social__icon {
    inline-size: 1.5rem;
    block-size: 1.5rem;
  }

  /* DIALOG */
  .dialog {
    --stack-space: var(--space-100);
    padding: var(--space-300) var(--space-400);
    text-align: center;
    background-color: var(--clr-white);
    border-radius: .5em;
    border: 0.125rem solid var(--clr-blue-200);
    color: inherit;

    &::backdrop {
      background-color: var(--clr-blue-200);
      opacity: .75;
    }
  }

  .dialog__title {
    margin-block-end: var(--space-100);
    font-size: var(--fs-350);
  }

  .dialog__description {
    margin-block-end: var(--space-300);
    font-size: var(--fs-200);
  }

  .dialog__button {
    inline-size: 100%;
    padding-block: calc(var(--space-100) + var(--space-050));
    font-size: var(--fs-100);
    font-weight: var(--fw-semibold);
    background-color: var(--clr-blue-500);
    color: var(--clr-white);
    border: 0.0625rem solid var(--clr-blue-500);
    border-radius: 3em;
    box-shadow: var(--shadow-button);
    transition: transform var(--transition-fast);
  }

  /* FOOTER */
  .footer {
    font-size: var(--fs-100);
    font-weight: var(--fw-light);
    text-align: center;
    color: var(--clr-gray-400);
  }

  .footer__content {
    --stack-space: var(--space-300)
  }

  .attribution {
    margin-block-start: var(--space-100);
    display: block;
  }

  .attribution__link {
    margin-inline: .5em;
    text-decoration: none;
    border-radius: var(--space-025);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset-block-end: -0.125rem;
      inset-inline-start: 0;
      inline-size: 100%;
      block-size: 0.125rem;
      background-color: currentColor;
      transform: scale(1);
      transition: transform var(--transition-fast);
    }
  }
}

@layer utilities {

  .visually-hidden {
    position: absolute;
    inline-size: 0.0625rem;
    block-size: 0.0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }

  .stack {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--stack-space, 1rem);
  }

  .cluster {
    display: flex;
    align-items: center;
    gap: var(--cluster-space, 1rem);
  }

  .text-accent {
    font-weight: var(--fw-bold);
    color: var(--clr-blue-950);
  }
}

@layer responsive {

  @media (width >=48rem) {

    .hero {
      padding-block-start: var(--space-600);
      padding-block-end: calc(var(--space-500) + var(--space-400));
    }

    .hero__text {
      --stack-space: var(--space-200);
    }

    .hero__title {
      font-size: var(--fs-400);
    }

    .hero__description {
      font-size: var(--fs-300);
    }

    .form {
      --stack-space: var(--space-200);
      flex-direction: row;
      align-items: start;
    }

    .form__input,
    .form__button {
      padding: var(--space-200) var(--space-400);
      font-size: var(--fs-200);
    }

    .form__field {
      inline-size: 100%;
      max-inline-size: 26.3125rem;
    }

    .form__message {
      margin-inline-start: var(--space-400);
      font-size: var(--fs-100);
      text-align: left;
    }
  }
}

@layer states {

  :focus-visible {
    outline-color: var(--clr-blue-500);
  }

  .form__input--error {
    border-color: var(--clr-red-400);
  }

  :is(.form__button, .dialog__button):active {
    transform: scale(.98);
  }

  .form__button:is(:hover, :focus-visible) {
    opacity: .75;
  }

  .social__link:is(:hover, :focus-visible) {
    background-color: var(--clr-blue-500);
    color: var(--clr-white);
    border-color: transparent;
    transform: scale(1.05);
  }

  .attribution__link:is(:hover, :focus-visible) {
    color: var(--clr-blue-500);
  }

  .attribution__link:is(:hover, :focus-visible)::after {
    transform: scale(0);
  }
}